@import "./homegrid/home-header";
@import './homegrid/home-main';
@import "./homegrid/home-footer";
@import "./homegrid/home_base";

.home {
  display: grid;
  grid: {
    template-columns: repeat(1, 1fr);
    template-rows: 100px 1800px 1.5fr;
    template-areas:
            "home-header"
            "home-main"
            "home-footer";
  }

  @include forLargeScreens(900) {
    grid-template-areas:
            "home-header"
            "home-main"
            "home-footer";
  }

  padding-top: $padding / 4;

  &__header {
    grid-area: home-header; // custom.
    @include home-header-content; // similar with variables.
    @extend %home-base; // common.
  }

  &__main {
    grid-area: home-main;
    @include home-main-content($background);
    @extend %home-base;
  }

  &__footer {
    grid-area: home-footer;
    @include home-footer-content;
    @extend %home-base;
  }
}
