/* Split into three columns instead of two. */
.App {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    ". header-top header-top header-top header-top ."
    "nav-nimado nav-nimado nav-nimado nav-nimado nav-nimado nav-nimado"
    "content-nimado content-nimado content-nimado content-nimado content-nimado content-nimado"
    "footer-bottom footer-bottom footer-bottom footer-bottom footer-bottom footer-bottom";
  grid-template-rows: 90px 55px 660px 140px;

  width: 100%;
  min-width: 900px;
  height: 900px;
  padding-top: 2rem;

}

/* Top page */
.header-top {
  grid-area: header-top;

  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  margin-bottom: 0;

  .title-nimado {
    grid-column: 1/2;
    max-width: 6rem;
  }

  .icon-nimado {
    grid-column: 2/3;
    grid-area: icon-nimado;
    max-width: 2.8rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .search-nimado {
    grid-column: 3/4;
    grid-area: search-nimado;
    align-self: center;

    margin-right: 4rem;
  }

  .nav-account {
    grid-area: nav-account;
  }
}

.nav-nimado {
  grid-area: nav-nimado;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-top: 1px solid #ededed;

}

/* Main */
.content-nimado {
  grid-area: content-nimado;
  display: grid;
  overflow: hidden;

  border: 1px solid blue;
  justify-content: center;
  background-color: #eeeff3;


  .wise-word {
    padding-top: 2rem;
  }
}

/* Bottom */
.footer-bottom {
  grid-area: footer-bottom;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .copyright-nimado {

  }

  .version-nimado {

  }
}
