/* Split into three columns instead of two. */
.App {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    ". header-top header-top header-top header-top ."
    "nav-nimado nav-nimado nav-nimado nav-nimado nav-nimado nav-nimado"
    "content-nimado content-nimado content-nimado content-nimado content-nimado content-nimado"
    "footer-bottom footer-bottom footer-bottom footer-bottom footer-bottom footer-bottom";
  grid-template-rows: 90px 55px 660px 140px;

  width: 100%;
  min-width: 900px;
  height: 900px;
  padding-top: 2rem;

}

/* Top page */
.header-top {
  grid-area: header-top;

  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  margin-bottom: 0;

  .title-nimado {
    display: flex;
    grid-column: 1/2;
    max-width: 6rem;
    margin-right: 1.3rem;
  }

  .icon-nimado {
    grid-column: 2/3;
    grid-area: icon-nimado;
    max-width: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .search-nimado {
    grid-column: 3/4;
    grid-area: search-nimado;
    align-self: center;

    margin-right: 7rem;
  }

  .nav-account {
    grid-area: nav-account;
  }
}

.nav-nimado {
  grid-area: nav-nimado;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-top: 1px solid #ededed;
}

/* Main */
.content-nimado {
  grid-area: content-nimado;
  display: grid;
  grid-template-columns: repeat(3, 1fr) repeat(1, 0.5fr);
  grid-template-rows: repeat(2, 1fr) repeat(1, 0.5fr);
  grid-template-areas:
    "home-cafe home-news home-shopping home-top"
    "home-tv home-weather home-children home-top"
    ". home-wise . home-top";
  grid-gap: 1rem;

  padding: 1rem;
  overflow: hidden;
  justify-content: center;
  background-color: #eeeff3;

  .home-top {
    grid-area: home-top;
    background-color: #bc85dc;
  }

  .home-cafe {
    grid-area: home-cafe;
    background-color: #DCADB2;
  }

  .home-news {
    grid-area: home-news;
    background-color: #d5dc5c;
  }

  .home-shopping {
    grid-area: home-shopping;
    background-color: #5edc55;
  }

  .home-tv {
    grid-area: home-tv;
    background-color: #dc586c;
  }

  .home-weather {
    grid-area: home-weather;
    background-color: #4d5cdc;
  }

  .home-children {
    grid-area: home-children;
    background-color: #5cd2dc;
  }

  .wise {
    grid-area: home-wise;
    background-color: #dc7dd6;
    padding-top: 2rem;
  }
}

/* Bottom */
.footer-bottom {
  grid-area: footer-bottom;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .copyright-nimado {

  }

  .version-nimado {

  }
}
