.box {
  background-color: #fff;

  &__cafe {
    grid-area: home-cafe;
  }

  &__news {
    grid-area: home-news;
  }

  &__shopping {
    grid-area: home-shopping;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
      ". . . . . . ."
      ". box-header box-header box-header box-header box-header ."
      ". box-main box-main box-main box-main box-main  ."
      ". box-main box-main box-main box-main box-main  ."
      ". box-main box-main box-main box-main box-main  ."
      ". box-footer box-footer box-footer box-footer box-footer ."
      ". . . . . . .";

    &__header {
      grid-area: box-header;
      color: #d69f53;
    }

    &__main {
      grid-area: box-main;
      border: 1px solid lightgray;
      text-align: center;
      font-size: 0.8em;
    }

    &__footer {
      grid-area: box-footer;
    }
  }
}
