html, body{
  margin:0;
  padding:0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  height:100%;
  padding-top: 0.2rem;
}

h2 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 17px;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  padding: 0;
  margin: 0;
}

main {
  padding: 0;
  margin: 0;
}

footer {
  padding: 0;
  margin: 0;
}

li {
  float: left;
  text-decoration: none;
  list-style-type: none;
  padding: 1rem;
}

li a {
  text-decoration: none;
  color: #a857d6;
}