html, body{
  margin:0;
  padding:0;
  font-family: open-sans, sans-serif;
}

body {
  height:100%;
}

h2 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  padding: 0;
  margin: 0;
}

main {
  padding: 0;
  margin: 0;
}

footer {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  float: left;
  text-decoration: none;
  list-style-type: none;
  padding-left: 1rem;
  margin: 0;
}

li a {
  text-decoration: none;
  color: #595cd6;
  padding: 0;
  margin: 0;
}
