.boxContent {
  display: grid;
  grid: {
    template-columns: 1fr 1fr 1fr;
    template-rows: 80px 1fr 22px;
    template-areas:
            ". boxContent-header ."
            ". boxContent-main ."
            ". boxContent-footer .";
  }

  &-header {
    grid-area: boxContent-header;
    display: flex;
    justify-content: center;
    margin-top: 0.7rem;
  }

  &-main {
    grid-area: boxContent-main;
    grid: {
      template-columns: 1fr 1fr 1fr;
      template-rows: 1fr 1fr;
      template-areas:
              ". boxContent-main-picture ."
              ". boxContent-main-data .";
    }


    &-picture {
      grid-area: boxContent-main-picture;
      display: flex;
      justify-content: center;
    }

    &-data {
      grid-area: boxContent-main-data;
      display: flex;
      justify-content: center;
    }
  }

  &-footer {
    grid-area: boxContent-footer;
    display: flex;
    justify-content: center;

  }
}