.cinema {
  display: grid;
  background-color: #262626;
}

.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 4/1/5/2;
}

.main-navigation {
  grid-area: 4/2/5/5;
  margin-left: 5rem;
  color: #fff;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #fff;

  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    border-bottom: 2px solid white;
  }
}

.languages {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    //background-color: #E5E1D6;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
  }

  li a:hover {
    background-color: lightblue;
  }
}

.main-content {
  grid-area: 5/1/6/5;
  display: flex;
  flex-direction:column;
  background-color: #fff;
}

footer {
  min-height: 4rem;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.ending-cinema {
  background-color: #262626;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}