.portal {
  display: grid;
  padding: 5rem;
  overflow: hidden;
}

.portal_header {
  grid-area: 1/1/4/5;
}

.first_column {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 13px;
  flex-direction: row;
  grid-area: 1/1/4/2;
  min-height: 25rem;
  max-height: 25rem;
  background-color: #fff;
  border: 1px solid lightsteelblue;

  .tour {
    display: flex;
    li {
      max-width: 6rem;
    }
    justify-items: flex-start;
    grid-area: 1/1/2/2;
  }

  .tour_top {
    //border-bottom: #b5bcfc;
    //border-top: #b5bcfc;

  }

  .tour_reviews {
    //border-bottom: #b5bcfc;
    //border-top: #b5bcfc;
  }
}

.second_column {
  display: grid;
  grid-area: 1/2/4/3;
  min-height: 25rem;
  max-height: 25rem;

  .news {
    grid-area: 1/1/2/2;
    background-color: #fff;
    margin: 0.5rem;
    max-height: 10rem;
    border: 1px solid lightsteelblue;
  }

  .top_news {

  }

  .top_cinema {

  }

  .top_shopping {

  }
}

.third_column {
  grid-area: 1/3/4/4;
  min-height: 25rem;
  max-height: 25rem;

  .shopping {
    grid-area: 4/1/5/2;
    background-color: #fff;
    max-height: 10rem;

    margin: 0.5rem;
    border: 1px solid lightsteelblue;
  }
}

.fourth_column {

  grid-area: 1/4/4/5;
  min-height: 25rem;
  max-height: 25rem;

  .cinema {
    grid-area: 3/1/4/2;
    max-height: 10rem;

    background-color: #fff;
    margin: 0.5rem;
    border: 1px solid lightsteelblue;
  }

}

.subdomains {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.search {
  padding: 1.1rem;
  display: flex;
  justify-content: center;

  .search_name {
    padding-right: 0;
  }
  .search_felt {
    align-self: flex-end;
  }
  //border: 1px solid red;
}

input {
  min-height: 1.5rem;
  min-width: 6rem;
}

.main {
  display: grid;
}

.version {
  background-color: #dddcde;
  position: absolute;
  bottom: 0;
  width: 100%;
}
