/* Portal */
$standard: #A5C2AE;

/* Tour colors */
$aquarium: #ABC8E8;
$cafe: #E2D4B4;
$garden: #FFCBA4;
$playground: #DCADB2;

/* News */
/* Cinema */
/* Shopping */

:export {
  standard: $standard;
}