@import './variables';

@import './base/base';
@import './base/fonts';

@import 'mixins/mediaqueries';

@import './mixins/_homeMixin';
@import './mixins/_mobileFirst';
@import './mixins/_desktopFirst';


@import 'pages/home/home';
@import './modules/layouts/defaultHeader';
@import './modules/layouts/boxContent';
@import './modules/paginations';

@import './modules/buttons';
@import './modules/navbar';
@import './modules/portalnav';
@import './modules/headlines';
@import './modules/box';

@import './../scss/modules/layouts/defaultHeader';




