@import './variables';

@import './base/base';

@import 'pages/home';
@import './modules/layouts/defaultHeader';
@import './modules/layouts/boxContent';

@import './modules/buttons';
@import './modules/navbar';
@import './modules/portalnav';
@import './modules/headlines';
@import './modules/box';

@import './../scss/modules/layouts/defaultHeader';




