/* Sections */
$cafe: #D69F53;
$news: #6BD68E;
$shopping: #4fc5d6;
$tv: #c68cd6;
$weather: #8998D6;
$children: #D49AD6;

/* News */
/* Cinema */
/* Shopping */

:export {
  standard: $standard;
  cafe: $cafe;
  news: $news;
  shopping: $shopping;
  tv: $tv;
  weather: $weather;
  children: $children;
}