.button {
  width: 5rem;
  height: 2rem;

  &__aquarium {
    background-color: $aquarium;
  }
  &__cafe {
    background-color: $cafe;
  }
  &__garden {
    background-color: $garden;
  }
  &__playground {
    background-color: $playground;
  }
}